<!DOCTYPE html>
<html>

<head>
  <title>
  </title>
  <link rel='stylesheet' href='../stylesheets/style.css' />
</head>

<body>
  <section class="contain">
    <h1>
      Titulo
    </h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Nome do Filme</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% docs.forEach(function(customer){ %>
          <tr>
            <th><a href="/edit/<%= customer._id %>">
                <%= customer._id %>
              </a>
            </th>
            <td>
              <%= customer.titulo %>
            </td>
            <td>
              <a href="/delete/<%= customer._id %>" onclick="return confirm('Tem certeza que deseja excluir?');">
                Excluir
              </a>
              <a href="/edit/<%= customer._id %>"> Editar </a>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
    <a class="btn btn-default" href="/new">Cadastrar novo Filme</a>
  </section>
</body>

</html>