<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
</head>

<body>
    <section class="contain">
        <h1>
            <%= title %>
        </h1>
        <form action="<%= action %>" method="POST" class="teste">
            <div class="d-flex direction-row mb-1">
                <label for="titulo">Título</label>
                <input type="text" class="form-input" name="titulo" value="<%= doc.titulo %>" />
            </div>
            <div class="d-flex direction-row mb-1">
                <label for="sinopse">Sinopse</label>
                <input type="text" class="form-input" name="sinopse" value="<%= doc.sinopse %>" />
            </div>
            <div class="d-flex direction-row mb-1">
                <label for="duracao">Duração</label>
                <input type="text" class="form-input" name="duracao" value="<%= doc.duracao %>" />
            </div>
            <div class="d-flex direction-row mb-1">
                <label for="dataLancamento">dataLancamento</label>
                <input type="text" class="form-input" name="dataLancamento" value="<%= doc.dataLancamento %>" />
            </div>
            <div class="d-flex direction-row mb-1">
                <label for="imagem">imagem</label>
                <input type="text" class="form-input" name="imagem" value="<%= doc.imagem %>" />
            </div>
            <div class="d-flex direction-row mb-1">
                <label for="categoria">categoria</label>
                <input type="text" class="form-input" name="categoria" value="<%= doc.categoria %>" />
            </div>
            <input class="btn btn-default" type="submit" value="Salvar" />
        </form>
    </section>
</body>

</html>